@import url(./__image/photo-grid__image.css);

.photo-grid {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  grid-gap: 14px;
  max-width: 90%;
  margin: auto;

}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-gap: 16px;
    max-width: 92.5%;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    max-width: 93%;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(1, auto);
    grid-gap: 12px;
    max-width: 90%;
  }
}
