.intro__subtitle {
    max-width: 690px;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    font-size: 24px;
    line-height: 34px;
    color: white;
    font-weight: 400;
}

@media screen and (max-width: 425px) {
    .intro-subtitle {
        line-height: 1.25;
    }
}