@import url(./__columns/header__columns.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__logo/header__logo.css);

/* designed for standard laptop 1024px - 1280px */

.header {
  margin: 34px auto 50px;
  max-width: 90%;
  max-height: 44px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 76.85%;
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 93%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin-top: 20px;
    max-width: 90%;

  }
}
