.lead__title {
  margin: 0;
  padding: 0;
  max-width: 77%;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: white;
}

@media screen and (min-width: 1280px) {
  .lead__title {
    max-width: 73%;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 93%;
  }

}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 90%;
    font-size: 40px;
  }
}
