@import url(./__title/cover__title.css);
@import url(./__background/cover__background.css);
@import url(./__container/cover__container.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  max-width: 100%;
  margin: auto;
  position: relative;
  min-height: 640px;
  max-height: 800px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 92.5%;
    min-height: 740px;
  }

}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }

}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}
