.cover__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFDFD;
  z-index: 2;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;

  }
}
