@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  margin: 92px auto 24px;
  max-width: 90%;
  display: grid;
  grid-template-columns: 17.8fr 14.2fr;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1185px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93%;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    max-width: 90%;
    display: block;
    margin: 64px auto 24px;
  }
}
