.place__description {
  grid-area: description;
}


@media screen and (max-width: 690px) {
  .place__description {
    margin: 0 16px;
  }
}


@media screen and (max-width: 425px) {
  .place__description {
    margin-left: 16px;
  }
}
